.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fceee3;
  min-height: 88vh;
  min-width: 80vw;
  font-family: "Poppins", sans-serif;
  position: relative;
  border: solid black 3px;
  box-shadow: 16px 16px 0px black;
  margin-bottom: 3rem;
  margin-top: 5rem;
  font-family: "Cooper Hewitt", sans-serif;
  font-weight: bold;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.upper-nav {
  width: 100%;
  height: 4rem;
  background-color: #00171f;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 10px 0 10px;
}

.lower-nav {
  width: 100%;
  gap: 10px;
  background-color: #f1991b;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

.nav-controls {
  display: flex;
  gap: 10px;
}

.nav-ham {
  margin-top: 2px;
}

.nav-controls button object {
  width: 100%;
}

.ham {
  margin-top: 4px;
}

.address-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 3.6rem;
  background-color: #f2f2f2;
  border: solid black 5px;
  gap: 10px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  text-align: center;
}

.container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 720px) {
  .window-controls img {
    width: 1.4rem;
  }

  .upper-nav {
    height: 2.4rem;
  }

  .upper-nav img {
    height: 1.4rem;
  }

  .nav-controls {
    gap: 2px;
    & img {
      height: 100%;
      width: 1.6rem;
    }
  }

  .lower-nav {
    height: 3.2rem;
  }

  .nav-ham img {
    width: 1.6rem;
  }

  .address-bar {
    height: 100%;
    font-size: 0.7rem;
    gap: 2px;
    padding: 0 2px 0 2px;
  }

  .address-bar img {
    width: 0.8rem;
  }
}
