@font-face {
    font-family: "Cooper Hewitt";
    src: url("/fonts/cooper-hewitt.bold.otf") format("opentype");
    font-weight: bold;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


body {
    background: url("/bg-image.svg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


